@font-face {
    font-family: "IBM Plex Sans";
    src:
        local("IBM Plex Sans"),
        url("fontit/IBMPlexSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    src:
        local("MaterialIcons-Regular"),
        url("fontit/MaterialIcons-Regular.ttf");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons-nuoli-lyhyt {
    font-size: 30px;
}

.material-icons-yläpalkki {
    font-size: 45px;
    color: var(--väri-teksti-valkoinen);
}

.material-icons-main {
    font-size: 6vw;
}

.material-icons-alapalkki {
    font-size: 45px;
    color: var(--väri-teksti-valkoinen);
}

.material-icons-kysymysmerkki {
    color: var(--väri-teksti-valkoinen);
    font-size: 22px;
}

.material-icons-search {
    font-size: 33px;
    color: var(--väri-teksti-valkoinen);
}

.material-icons-menu {
    font-size: 33px;
    color: var(--väri-teksti-valkoinen);
}

:root {
    --väri-valkoinen-puhdas: #FFFFFF;
    --väri-musta-puhdas: #000000;
    --väri-musta-vaalea: #191A1B;
    --väri-harmaa-vaalea: #DADBF1;
    --väri-sininen-tumma: #4F62D6;
    --väri-sininen-vaalea: #625DD1;

    --väri-valkoinen: var(--väri-valkoinen-puhdas);
    --väri-musta: var(--väri-musta-puhdas);
    --väri-tausta-harmaa: var(--väri-harmaa-vaalea);
    --väri-tausta-musta: var(--väri-musta-puhdas);
    --väri-tausta-musta-vaalea: var(--väri-musta-vaalea);
    --väri-tausta-valkoinen: var(--väri-valkoinen-puhdas);
    --väri-tausta-sininen: var(--väri-sininen-tumma);
    --väri-linkki-valkoinen: var(--väri-valkoinen-puhdas);
    --väri-linkki-sininen: var(--väri-sininen-vaalea);
    --väri-teksti-valkoinen: var(--väri-valkoinen-puhdas);
    --väri-reunus-valkoinen: var(--väri-valkoinen-puhdas);
    --väri-reunus-sininen: var(--väri-sininen-vaalea);
    --väri-reunus-musta: var(--väri-musta-puhdas);
    --väri-toiminnot-hover-tausta: var(--väri-valkoinen-puhdas);
    --väri-toiminnot-hover-teksti: var(--väri-musta-puhdas);
    --väri-nuoli-lyhyt-sininen: var(--väri-sininen-vaalea);
}

* {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: "IBM Plex Sans";
}

body a:any-link {
    text-decoration: none;
    color: var(--väri-linkki-valkoinen);
}

main a:any-link {
    color: var(--väri-linkki-sininen);
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--väri-tausta-musta);
}

footer h3 {
    color: var(--väri-teksti-valkoinen);
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--väri-tausta-musta);
    color: var(--väri-teksti-valkoinen);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::after {
    padding: 0px 14px;
}

.informaatio-banneri {
    display: flex;
    flex-direction: column;
    background-color: cyan;
    color: black;
    font-size: 15px;
    align-items: center;
    padding: 14px;
}

.informaatio-banneri a:any-link {
    color: red;
}

.informaatio-banneri__tekstit {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.informaatio-banneri__tekstit__harjoitustyö {
    display: flex;
    flex-direction: row;
}

.informaatio-banneri__tekstit__referenssi__linkki {
    display: flex;
    flex-direction: row;
}

.informaatio-banneri__tekstit__tehtävänanto {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.informaatio-banneri__tekstit__tehtävänanto__linkki {
    display: flex;
    flex-direction: row;
}

.informaatio-banneri__tekstit__linkit {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.informaatio-banneri__tekstit__linkit__linkki {
    display: flex;
    flex-direction: row;
}



.musta-yläpalkki {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 17px 100px;
}

.musta-yläpalkki__help-center-listat {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.musta-yläpalkki ul li:not(:last-child)::after {
    content: "|"
}

.musta-yläpalkki__help-center-listat__lista {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.musta-yläpalkki__help-center-listat__lista__linkki {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.help-center:hover {
    text-decoration: underline;
}

.yläpalkki-logo:hover .material-icons-yläpalkki {
    color:  #D3D3D3;
}

.yläpalkki-logo:hover .yläpalkki-teksti {
    color:  #D3D3D3;
}

.musta-yläpalkki__toiminnot {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    gap: 14px;
}

.musta-yläpalkki__ikonit {
    display: none;
}

.musta-yläpalkki__ikonit__search {
    display: none;
}

.musta-yläpalkki__ikonit__menu {
    display: none;
}

.musta-yläpalkki__toiminnot__hakupalkki {
    display: flex;
    flex-direction: row;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    width: 250px;
    min-width: 0px;
    max-width: 250px;
    padding: 0 14px;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.musta-yläpalkki__toiminnot__lähetä-pyyntö {
    display: flex;
    flex-direction: row;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    align-items: center;
    justify-content: center;
    background-color: var(--väri-tausta-musta-vaalea);
    border-radius: 7px;
    border: 1px solid var(--väri-reunus-valkoinen);
    font-size: 24px;
}

.musta-yläpalkki__toiminnot__lähetä-pyyntö__linkki {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    min-height: 50px;
    min-width: 220px;
    align-items: center;
    justify-content: center;

}

.musta-yläpalkki__toiminnot__kirjaudu {
    display: flex;
    flex-direction: row;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    width: 135px;
    min-width: 135px;
    max-width: 135px;
    background-color: var(--väri-tausta-sininen);
    font-size: 24px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.musta-yläpalkki__toiminnot__kirjaudu__linkki {
    display: flex;
    flex-direction: row;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    width: 135px;
    min-width: 135px;
    max-width: 135px;
    align-items: center;
    justify-content: center;
}

.musta-yläpalkki__toiminnot__kirjaudu:hover {
    background-color: var(--väri-toiminnot-hover-tausta);
}

.musta-yläpalkki__toiminnot__kirjaudu:hover .musta-yläpalkki__toiminnot__kirjaudu__linkki {
    color: var(--väri-toiminnot-hover-teksti);
}

.main-harmaa-alue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--väri-tausta-harmaa);
    width: 100%;
    min-width: 0px;
    max-width: 1900px;
    height: 400px;
    min-height: 0px;
    max-height: 400px;
    padding: 0px 20px;
}

.main-harmaa-alue__teksti {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0px;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.main-harmaa-alue__teksti__otsikko {
    display: flex;
    flex-direction: row;
    font-size: 70px;
    font-weight: 500;
}

.main-harmaa-alue__haku {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    min-width: 0px;
    max-width: 700px;
}

.main-harmaa-alue__haku__ikoni {
    display: flex; 
    flex-direction: row;
    position: absolute;
    right: 15px;
}

.main-harmaa-alue__haku__hakupalkki {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    min-height: 0px;
    max-height: 70px;
    font-size: 20px;
    padding: 0 14px;
    border-radius: 7px;
    border: 1px solid var(--väri-reunus-musta);
}

.main-harmaa-alue__haku__hakupalkki:hover, .main-harmaa-alue__haku__hakupalkki:focus  {
    border: 1px solid var(--väri-reunus-sininen);
    outline: none;
}

.main-harmaa-alue__haku:hover .material-icons-nuoli-lyhyt {
    color: var(--väri-nuoli-lyhyt-sininen);
}

.main-valkoinen-alue {
    display: flex;
    flex-direction: row;
    padding: 150px 0px 75px 0px;
}

.main-valkoinen-alue__sisältö {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--väri-tausta-valkoinen);
    width: 100%;
    min-width: 0px;
    max-width: 1900px;
    height: 100%;
    justify-content: center;
}

.main-valkoinen-alue__sarake {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-bottom: 45px;
    padding-right: 28px;
    gap: 14px;
}

.main-valkoinen-alue__sarake__kuvake {
    display: flex;
    flex-direction: row;
    height: 120px;
    min-height: 0px;
    max-height: 120px;
}

.main-valkoinen-alue__sarake__teksti {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.main-valkoinen-alue__sarake__teksti__leipäteksti {
    display: flex;
    flex-direction: column;
}

.main-valkoinen-alue__sarake__teksti__otsikko {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.main-valkoinen-alue__sarake__teksti__linkki {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.main-valkoinen-alue__sarake__teksti__linkki:hover {
    text-decoration: underline;
}

.musta-alapalkki {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0px 0px 155px 0px;
    margin-left: 75px;
    margin-right: 75px;
}

.musta-alapalkki__sarake {
    display: flex;
    flex-direction: column;
    width: 182px;
    min-width: 0px;
    max-width: 260px;
}

.musta-alapalkki__sarake__viimeinen {
    display: flex;
    flex-direction: column;
    color: var(--väri-teksti-valkoinen);
    font-size: 18px;
}

.musta-alapalkki__sarake__viimeinen__otsikko {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.musta-alapalkki__sarake__otsikko {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 60px 0 14px 0;
}

.musta-alapalkki__sarake__listat {
    display: flex;
    flex-direction: column;
}

.musta-alapalkki__sarake__listat__lista {
    display: flex;
    flex-direction: row;
}

.musta-alapalkki__sarake__listat__lista__linkki {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.musta-alapalkki__sarake__listat__lista__linkki:hover {
    text-decoration: underline;
}

.musta-alapalkki-viimeinen-lapsi {
    padding-bottom: 30px;
}

.musta-alapalkki__tekijänoikeudet {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: var(--väri-teksti-valkoinen);
    right: 0px;
    bottom: 45px;
    gap: 14px;
}

.musta-alapalkki__tekijänoikeudet__logo {
    display: flex;
    flex-direction: row;
}

.musta-alapalkki__tekijänoikeudet__tekstit {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.musta-alapalkki__tekijänoikeudet__tekstit__teksti {
    display: flex;
    flex-direction: row;
}

.fixed-laatikko {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 110px;
    height: 45px;
}

.fixed-laatikko__nappi {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--väri-tausta-sininen);
    border-radius: 45px;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.fixed-laatikko__nappi__teksti {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: var(--väri-teksti-valkoinen);
}

@media (max-width: 1200px) {
    .musta-yläpalkki__toiminnot {
        display: none;
    }

    .musta-yläpalkki__ikonit {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        gap: 7px;
    }

    .musta-yläpalkki__ikonit__search {
        display: flex;
        flex-direction: row;
    }

    .musta-yläpalkki__ikonit__menu {
        display: flex;
        flex-direction: row;
    }

    .informaatio-banneri {
        display: none;
    }
}

@media (max-width: 1100px) {
    .musta-alapalkki__sarake {
        width: 50%;
    }

    .musta-alapalkki {
        flex-wrap: wrap;
        padding-bottom: 225px;
    }
    
}

@media (max-width: 800px) {
    .main-valkoinen-alue__sarake {
        width: 75%;
    }

    .main-harmaa-alue__teksti__otsikko {
        font-size: 55px;
    }

    .musta-yläpalkki {
        padding: 17px 10px;
    }

    .material-icons-main {
    font-size: 9vw;
    }
}

